:8888 {
  handle /cms/_next/* {
    uri strip_prefix /cms
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle /admin* {
    reverse_proxy {$CMS_UPSTREAM}
  }
  @revalidate path /api/revalidate /api/revalidate/
  handle @revalidate {
    reverse_proxy {$WEB_UPSTREAM}
  }
  handle /api* {
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle /media* {
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle {
    reverse_proxy {$WEB_UPSTREAM}
  }
}
