:8888 {
  handle /cms/_next/* {
    uri strip_prefix /cms
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle /admin* {
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle /api/revalidate {
    reverse_proxy {$WEB_UPSTREAM}
  }
  handle /api* {
    reverse_proxy {$CMS_UPSTREAM}
  }
  handle /media* {
    uri replace /media /{$S3_BUCKET}
    reverse_proxy rustfs:9000
  }
  handle {
    reverse_proxy {$WEB_UPSTREAM}
  }
}
